services:
  snort-ips:
    build:
      context: ./snort
      dockerfile: Dockerfile
    image: snort3:latest
    container_name: snort3
    network_mode: "host"
    restart: unless-stopped
    cap_add: [NET_ADMIN, NET_RAW]
    volumes:
      - ./snort/etc:/etc/snort:ro
      - ./snort/log:/var/log/snort
    command: >
      sh -c "snort -Q --daq nfq --daq-var queue=0
             -c /etc/snort/snort.conf -A fast -l /var/log/snort"

  dvwa:
    image: vulnerables/web-dvwa:latest # <- perbaikan di sini
    container_name: dvwa
    ports: ["8081:80"]
    restart: unless-stopped
